<a>My Favorites</a>
<div ng-repeat="(key, book) in bookList track by $index">
  <div class="card" ng-style="{float:'left', width:'30%', margin: '5px', height:'35em', 'background-color':'#fcf1d4'}">
    <div ng-style="{height: '100%', width:'100%' }">
      <img class="card-img-top" ng-src="{{ book.book_picture }}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Title: {{ book.title }}</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Published: {{ book.published }}</p>
        <a href="#" ng-click="$ctrl.removeFavorite(book.title)" class="btn btn-primary">Remove Book</a> 
        <p>Count:{{ $index }}</p>
      </div>
    </div>
  </div>    
</div>