<div ng-transclude class="menu">
  <div class="btn-group" role="group" ng-style="{display:'inline'}">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="./favorites.html">Favorites List</a>
      <a class="dropdown-item" href="./login.html">Login/Logout</a>
    </div>
  </div>   

  <div ng-bind="'Hi, ' + currentUser + '!'" ng-style="{float:right, marginLeft:'15px'}"></div>        
    
  <div class="container-fluid" ng-style="{width:'1100px', marginLeft:'20%'}">        
    <h2>MyBooks</h2>
    <input ng-model="$ctrl.search" />
    <button ng-click="$ctrl.getBooks()" class="btn btn-primary" type="submit">Find Books</button>
    <hr>
  <render-Books></render-Books>
  </div>    
</div>